/* Overall page styling */
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f3f4f6; /* Light background color */
}

.pokemon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .pokemon-card {
    padding: 20px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    background-color: #ffffff; /* White background */
    border: 5px solid #e0e0e0; /* Slight border */
  }
  
  .pokemon-card img {
    width: 100px;
    height: 100px;
  }
  
  .collected-indicator {
    color: green;
    font-weight: bold;
  }
  
  button {
    margin-top: 10px;
    background-color: #FFCB05;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #DAA520;
  }
  